@model TercumanTakipWeb.Models.isTakipListesi_DisGorev

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>isTakipListesi_DisGorev</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DosyaNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DosyaNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanisanAdSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanisanAdSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KurumHastaneAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KurumHastaneAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GidisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GidisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GidisSaati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GidisSaati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonusSaati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonusSaati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YonlendirenKisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YonlendirenKisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EkBilgi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EkBilgi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KayitTarihi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
