@model TercumanTakipWeb.Models.ViewModels.DisGorevVM

@{
    ViewData["Title"] = "Detaylar";
}

<head>
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
</head>

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3>Dosya Bilgileri</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Dosya No</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.isTakipListesi_DisGorev.DosyaNo)</dd>

                <dt class="col-sm-3">Dil</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.isTakipListesi_DisGorev.Dil)</dd>
                
                <dt class="col-sm-3">Kurum Hastane Adı</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.isTakipListesi_DisGorev.KurumHastaneAdi)</dd>

                <dt class="col-sm-3">Danışan Ad Soyad</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.isTakipListesi_DisGorev.DanisanAdSoyad)</dd>

                <dt class="col-sm-3">Yönlendiren Kişi</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.isTakipListesi_DisGorev.YonlendirenKisi)</dd>

                <dt class="col-sm-3">Gidiş Tarihi</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.isTakipListesi_DisGorev.GidisTarihi)</dd>

                <dt class="col-sm-3">Gidiş Saati</dt>
                <dd class="col-sm-9">@Model.isTakipListesi_DisGorev.GidisSaati.ToString(@"hh\:mm")</dd>

                <dt class="col-sm-3">Dönüş Saati</dt>
                <dd class="col-sm-9">@Model.isTakipListesi_DisGorev.DonusSaati.ToString(@"hh\:mm")</dd>

                <dt class="col-sm-3">Ek Bilgi</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.isTakipListesi_DisGorev.EkBilgi)</dd>

                <dt class="col-sm-3">Kullanıcı Adı</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.isTakipListesi_DisGorev.KullaniciAdi)</dd>

                <dt class="col-sm-3">Kayıt Tarihi</dt>
                <dd class="col-sm-9">@string.Format("{0:dd/MM/yyyy}", Model.isTakipListesi_DisGorev.KayitTarihi)</dd>
            </dl>
        </div>
    </div>
    <div class="text-center mt-4">
        @* <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-primary">Düzenle</a> *@
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditModal">Düzenle </button>
        <button type="button" class="btn btn-danger" onclick="confirmDelete('@Model.isTakipListesi_DisGorev.id')">Sil</button>
        <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
    </div>
</div>

<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="EditModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kaydı Düzenle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" asp-route-id="@Model.isTakipListesi_DisGorev.id">
                    <input asp-for="isTakipListesi_DisGorev.id" hidden />
                    <input asp-for="isTakipListesi_DisGorev.KullaniciAdi" hidden />

                    <div class="form-group">
                        <label asp-for="isTakipListesi_DisGorev.DosyaNo" class="control-label"></label>
                        <input asp-for="isTakipListesi_DisGorev.DosyaNo" class="form-control" />
                        <span asp-validation-for="isTakipListesi_DisGorev.DosyaNo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="isTakipListesi_DisGorev.Dil" class="control-label"></label>
                        <div class="list-group checkbox-group required">
                            @for (int i = 0; i < Model.DilListesi.Count; i++)
                            {
                                <label class="list-group-item">
                                    <input asp-for="@Model.DilCheckbox[i].isChecked" class="form-check-input me-1" type="checkbox">
                                    @Model.DilListesi[i]
                                </label>
                                <input type="hidden" value="@Model.DilListesi[i]" asp-for="@Model.DilCheckbox[i].Dil" />
                            }
                        </div>
                        <span asp-validation-for="isTakipListesi_DisGorev.Dil" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="isTakipListesi_DisGorev.KurumHastaneAdi" class="control-label"></label>
                        <input asp-for="isTakipListesi_DisGorev.KurumHastaneAdi" class="form-control" />
                        <span asp-validation-for="isTakipListesi_DisGorev.KurumHastaneAdi" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="isTakipListesi_DisGorev.DanisanAdSoyad" class="control-label"></label>
                        <input asp-for="isTakipListesi_DisGorev.DanisanAdSoyad" class="form-control" />
                        <span asp-validation-for="isTakipListesi_DisGorev.DanisanAdSoyad" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="isTakipListesi_DisGorev.YonlendirenKisi" class="control-label"></label>
                        <input asp-for="isTakipListesi_DisGorev.YonlendirenKisi" class="form-control" />
                        <span asp-validation-for="isTakipListesi_DisGorev.YonlendirenKisi" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="isTakipListesi_DisGorev.GidisTarihi" class="control-label"></label>
                        <input asp-for="isTakipListesi_DisGorev.GidisTarihi" class="form-control" type="date" />
                        <span asp-validation-for="isTakipListesi_DisGorev.GidisTarihi" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="isTakipListesi_DisGorev.GidisSaati" class="control-label"></label>
                        <input asp-for="isTakipListesi_DisGorev.GidisSaati" class="form-control" type="time" />
                        <span asp-validation-for="isTakipListesi_DisGorev.GidisSaati" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="isTakipListesi_DisGorev.DonusSaati" class="control-label"></label>
                        <input asp-for="isTakipListesi_DisGorev.DonusSaati" class="form-control" type="time" />
                        <span asp-validation-for="isTakipListesi_DisGorev.DonusSaati" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="isTakipListesi_DisGorev.EkBilgi" class="control-label"></label>
                        <textarea asp-for="isTakipListesi_DisGorev.EkBilgi" class="form-control"></textarea>
                        <span asp-validation-for="isTakipListesi_DisGorev.EkBilgi" class="text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-primary">Düzenlemeyi Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        function confirmDelete(itemId) {
            Swal.fire({
                title: 'Emin misiniz?',
                text: "Bu işlem geri alınamaz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Evet, sil!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/DisGorev/Delete/' + itemId,
                        type: 'POST',
                        success: function (response) {
                            Swal.fire('Silindi!', 'Kayıt başarıyla silindi.', 'success').then(() => {
                                window.location.href = '/DisGorev/Index';
                            });
                        },
                        error: function (xhr, status, error) {
                            Swal.fire('Hata!', 'Silme işlemi başarısız oldu.', 'error');
                        }
                    });
                }
            });
        }
    </script>
}