@model IEnumerable<TercumanTakipWeb.Models.isTakipListesi_DisGorev>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DosyaNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanisanAdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KurumHastaneAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GidisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GidisSaati)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonusSaati)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YonlendirenKisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EkBilgi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KayitTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DosyaNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanisanAdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KurumHastaneAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GidisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GidisSaati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonusSaati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YonlendirenKisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EkBilgi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KayitTarihi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
