@model IEnumerable<TercumanTakipWeb.Models.isTakipListesi_MigrantTV>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CeviriKonusu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CeviriTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KelimeSayisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeslendirmeSayisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EkBilgi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KayitTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CeviriKonusu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CeviriTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KelimeSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeslendirmeSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EkBilgi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KayitTarihi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
