@model MigrantTVVM

@{
    ViewData["Title"] = "Migrant TV";
    ViewData["ContName"] = "MigrantTV";
}

<h2>Yapılan Kayıtlar</h2>

<p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateModal">
        Yeni Çeviri
    </button>
</p>

<head>
    <style>
        #MigrantTVGrid th,
        #MigrantTVGrid td {
            text-align: center;
        }
    </style>
</head>

<table class="table" id="MigrantTVGrid">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.isTakipListesi_MigrantTV.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isTakipListesi_MigrantTV.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isTakipListesi_MigrantTV.KayitTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isTakipListesi_MigrantTV.Dil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isTakipListesi_MigrantTV.CeviriKonusu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isTakipListesi_MigrantTV.CeviriTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isTakipListesi_MigrantTV.KelimeSayisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isTakipListesi_MigrantTV.SeslendirmeSayisi)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.isTakipListesi_MigrantTVList)
        {
            <tr>
                <td>  <a asp-action="Details" asp-route-id="@item.id" class="btn btn-success">Detay</a> </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KullaniciAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KayitTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CeviriKonusu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CeviriTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KelimeSayisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeslendirmeSayisi)
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Create">
    <!-- Modal -->
    <div class="modal fade" id="CreateModal" tabindex="-1" aria-labelledby="CreateModal" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CreateModal">Yeni Çeviri Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="mb-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-12 grid-margin">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label asp-for="isTakipListesi_MigrantTV.Dil" class="control-label"></label>
                                            <div class="list-group checkbox-group required">
                                                @for (int i = 0; i < Model.DilListesi.Count; i++)
                                                {
                                                    <label class="list-group-item">
                                                        <input asp-for="@Model.DilCheckbox[i].isChecked" class="form-check-input me-1" type="checkbox">
                                                        @Model.DilListesi[i]
                                                    </label>
                                                    <input type="hidden" value="@Model.DilListesi[i]" asp-for="@Model.DilCheckbox[i].Dil" />
                                                }
                                            </div>
                                            <span asp-validation-for="isTakipListesi_MigrantTV.Dil" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label asp-for="isTakipListesi_MigrantTV.CeviriKonusu" class="control-label"></label>
                                            <textarea asp-for="isTakipListesi_MigrantTV.CeviriKonusu" class="form-control"> </textarea>
                                            <span asp-validation-for="isTakipListesi_MigrantTV.CeviriKonusu" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label asp-for="isTakipListesi_MigrantTV.CeviriTarihi" class="control-label"></label>
                                        <input asp-for="isTakipListesi_MigrantTV.CeviriTarihi" class="form-control" type="date" />
                                        <span asp-validation-for="isTakipListesi_MigrantTV.CeviriTarihi" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label asp-for="isTakipListesi_MigrantTV.KelimeSayisi" class="control-label"></label>
                                        <input asp-for="isTakipListesi_MigrantTV.KelimeSayisi" class="form-control" type="number" />
                                        <span asp-validation-for="isTakipListesi_MigrantTV.KelimeSayisi" class="text-danger"></span>
                                    </div>

                                    <div class="form-group row">
                                        <label asp-for="isTakipListesi_MigrantTV.SeslendirmeSayisi" class="control-label"></label>
                                        <input asp-for="isTakipListesi_MigrantTV.SeslendirmeSayisi" class="form-control" type="number" />
                                        <span asp-validation-for="isTakipListesi_MigrantTV.SeslendirmeSayisi" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="isTakipListesi_MigrantTV.EkBilgi" class="control-label"></label>
                                <textarea asp-for="isTakipListesi_MigrantTV.EkBilgi" class="form-control"> </textarea>
                                <span asp-validation-for="isTakipListesi_MigrantTV.EkBilgi" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" value="Save" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>


@section Scripts {
    <script>
        //DataTable('#MigrantTVGrid')
        $('#MigrantTVGrid').DataTable()
    </script>

}