@model TercumanTakipWeb.Models.isTakipListesi_TopluArama

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>isTakipListesi_TopluArama</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AramaBasligi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AramaBasligi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfisListesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfisListesi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestekTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestekTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AramaSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AramaSayisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EkBilgi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EkBilgi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KayitTarihi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
